@import url('https://fonts.googleapis.com/css?family=Courgette|Petit+Formal+Script|Tillana:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster|Patua+One');
.section{
	background-color:grey;
	height:575px;
	width:1050px;
	float:right;
	opacity:0.9;
	border-radius:15px;
}
.background-image{
    background: url("images/bg.jpg") no-repeat;
    padding:0 0 19% 0;
}
.background{
    background: url("images/dashboard.jpeg");
    /* padding:0 0 32% 0; */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    padding: 10% 0 4% 0;
}
.logo{
    background: url("images/images.png");
    background-size: 3em 3em;
    display:block;
    width: 3em;
    height: 3em;
    float: left;
    margin-top: -10px;
    padding-right: 10px;
}
#main {
    padding-right: 100px;
    padding-left: 100px;
    text-align: center; 
}
#menu{
    float: right;
    padding-top: 15px;
}  
#recipebar{
    background: url("images/restaurant_icons.png");
    font-family: 'Karma', serif;
    padding: 20px;
}
#recipesbar{
    background: url("images/restaurant_icons.png");
    font-family: 'Karma', serif;
    padding: 20px;
}
#signup {
    background-color: #26A69A;
    border: 1px solid #26A69A;
    color: white;
    font-weight: bold;
}
#signup:hover {
    background-color: white;
    border: 1px solid #26A69A;
    color: #26A69A;
}

#signin{
    background-color:white;
    border: 1px solid #26A69A;
    color: #26A69A;
    font-weight: bold;
}
#homebtn{
    background-color:white;
    border: 1px solid rgb(65, 225, 126);
    color: rgb(65, 225, 113);
    font-weight: bold;
}
#homebtn:hover{
    background-color:rgb(95, 223, 180);
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-weight: bold;
}
#signin:hover {
    background-color: #26A69A;
    border: 1px solid #26A69A;
    color: white;
}

#welcome {
   padding: 0;
   margin: 0;
   color: black;
   font-family: 'Karma', serif;
   font-size:800px;

}
.btn-btn-default{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    float:left;
}
#author{
    color: royalblue;
    float: left;
    font-family: 'Lobster', cursive;
}
#signbar{
font-family: 'Karma', serif;
background: url("images/restaurant_icons.png");
text-align: center;
height: 500px;
width: 500px;
display:block;
padding:10px;
font-size:20px;
margin: 9px auto;
}
.addrecipe{
    background:lightgray;
}
#views{
background: lightgrey;
}
#logbar{
    font-family: 'Karma', serif;
    background: url("images/restaurant_icons.png");
    text-align: center;
    height: 500px;
    width: 500px;
    display:block;
    padding:10px;
    font-size:20px;
    margin: 9px auto;
}
#changepassword{
    font-family: 'Karma', serif;
    background: url("images/restaurant_icons.png");
    text-align: center;
    height: 500px;
    width: 500px;
    display:block;
    padding:10px;
    font-size:20px;
    margin: 9px auto;
}

.change_link{
    padding-bottom: 5px;
    color:black;
    clear: both;
    margin-top: 20px;
}
.toregister{
    color:#26A69A;
    font-size: 20px;
}
.btn{
    margin-left: 5px;
}
#logout{
    float: right;
}
.category-card{
 margin-top:10px;
 font-family: 'Karma', serif;

}
.recipe-card{
    margin-top: 10px;
    font-family: 'Karma', serif;
    
}
.pagination{
    width: 600px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
}
.dropdown{
    float: right;
}
#dropdownMenuLink{
    border-radius: 10px;
}
.description{
    height:80px;
}
.viewcategories{
    background: url("images/restaurant_icons.png") no-repeat; 
    background-size: cover;
    height:100vh;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.viewrecipes{
    background: url("images/restaurant_icons.png") no-repeat; 
    background-size: cover;
    height:100vh;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.mb-0 .btn {
    font-size: 20px;
}

li:disabled {
    cursor: not-allowed !important;
}
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    padding-left: 50px;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .color{
      background-color: #26A69A;
      font-family: 'Tillana', cursive;
      
  }
  .color:hover{
      background-color: #009688;
  }
  .recipe{
      background-color:  #26A69A;
      font-family: 'Tillana', cursive;

  }
  .recipe:hover{
      background-color: #009688;
  }
.word-font{
    font-family: 'Karma', serif;
    color:white;
}
#about{
    background: url("images/restaurant_icons.png");
    height: 100vh;
}
.recipeimg{
    background: url("images/image1.jpg");
    height:130px;
}

.btn .btn-link:hover{
    text-decoration: none !important;
}

.navbar-custom .navbar-nav .nav-link.active{
    color: 'red';
}
#navbar .navbar-text{
    color: 'white';
    /* background-color: 'red' !important;
    border-bottom: 1px solid 'white' !important; */
  
  }
  ul>li:hover, .nav-link:hover{
      background-color: 'white'!important;

  }
  .error-template {padding: 40px 15px;text-align: center;}
  .error-actions {margin-top:15px;margin-bottom:15px;}

.navbar-brand {
    color: #f3f3f3 !important;
    font-weight: 1000px;
}
.h5, h5 {
    font-size: 1.25rem;
    color: #141c1f;
}
.h4, h4 {
    font-size: 1.25rem;
    color: #141c1f;
}
.modal-content{
    background-color: #f8f9fae8;
}