@import url('https://fonts.googleapis.com/css?family=Courgette|Petit+Formal+Script|Tillana:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster|Patua+One');
.section{
	background-color:grey;
	height:575px;
	width:1050px;
	float:right;
	opacity:0.9;
	border-radius:15px;
}
.background-image{
    background: url("images/bg.jpg") no-repeat;
    padding:0 0 19% 0;
}
.background{
    background: url("images/dashboard.jpeg");
    /* padding:0 0 32% 0; */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    padding: 10% 0 4% 0;
}
.logo{
    background: url("images/images.png");
    background-size: 3em 3em;
    display:block;
    width: 3em;
    height: 3em;
    float: left;
    margin-top: -10px;
}
#updatebar{
    text-align: left;
    background: palegreen;
}
#main {
    padding-right: 100px;
    padding-left: 100px;
    text-align: center; 
}
#header {
   background-color: #999999;
   height: 60px;  
}
#menu{
    float: right;
    padding-top: 15px;
}  
#recipebar{
    background: url("images/restaurant_icons.png");
    padding: 20px;
}
#recipesbar{
    background: url("images/restaurant_icons.png");
    padding: 20px;
}
#signup {
    background-color: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
}
#signup:hover {
    background-color: #c6d2f6;
    border: 1px solid #6687e7;
    color: royalblue;
}

#signin{
    background-color:white;
    border: 1px solid royalblue;
    color: royalblue;
    font-weight: bold;
}
#homebtn{
    background-color:white;
    border: 1px solid rgb(65, 225, 126);
    color: rgb(65, 225, 113);
    font-weight: bold;
}
#homebtn:hover{
    background-color:rgb(95, 223, 180);
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-weight: bold;
}
#signin:hover {
    background-color: #6687e7;
    border: 1px solid #6687e7;
    color: white;
}

.btn-nav {

    border: solid 1px #000;
    border-radius: 10px;
}
.btnrecipeedit{
    width: 100px;
    height: 30px;
    background-color:rgb(102, 126, 139);
    border: solid 1px #000;
    border-radius: 10px
    
}
.btnrecipeadd{
    width: 100px;
    height: 30px;
    background-color:rgb(73, 167, 94);
    border: solid 1px #000;
    border-radius: 10px
    
}
.btnrecipedel{
    width: 100px;
    height: 30px;
    background-color:rgb(172, 66, 66);
    border: solid 1px #000;
    border-radius: 10px
    
}
#welcome{
   text-align: center; 
   padding-top: 341px; 
   color: black;
   font-family: 'Tillana', cursive;
   font-size:800px;

}
.btn-btn-default{
    border-radius: 10px;
    width: 80px;
    height: 30px;
    float:left;
}
#author{
    color: royalblue;
    float: left;
    font-family: 'Lobster', cursive;
}
#signbar{
font-family: 'Tillana', cursive;
background: url("images/restaurant_icons.png");
text-align: center;
height: 500px;
width: 500px;
display:block;
padding:10px;
font-size:20px;
margin: 9px auto;
}
.addrecipe{
    background:lightgray;
}
#views{
background: lightgrey;
}
#logbar{
    font-family: 'Tillana', cursive;
    background: url("images/restaurant_icons.png");
    /* background: #d3dadab3;; */
    text-align: center;
    height: 500px;
    width: 500px;
    display:block;
    padding:10px;
    font-size:20px;
    margin: 9px auto;
}
#changepassword{
    font-family: 'Tillana', cursive;
    background: url("images/restaurant_icons.png");
    text-align: center;
    height: 500px;
    width: 500px;
    display:block;
    padding:10px;
    font-size:20px;
    margin: 9px auto;
}
#save {
	position:absolute;
	z-index: 10;
	border:1;
    background: green;
    width: 80px;
    height: 30px;
    padding-bottom: 20px;
}
#home{
    background: lightgrey;
    width: 70px;
    height: 20px;
}
#view{
    background: lightblue;
    width: 120px;
    height: 20px;
}
.footer{
    height: 45px;
    bottom: 0;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;

}
#words{
text-align: center;
}
.change_link{
    padding-bottom: 5px;
    color:black;
    clear: both;
    margin-top: 20px;
}
.toregister{
    color:green;
    font-size: 20px;
}
.btn{
    margin-left: 5px;
}
#logout{
    float: right;
}
.category-card{
 margin-top:10px;

}
.recipe-card{
    margin-top: 10px;
    
}
.pagination{
    width: 600px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
}
.dropdown{
    float: right;
}
#dropdownMenuLink{
    border-radius: 10px;
}
.description{
    height:80px;
}
.viewcategories{
    background: url("images/restaurant_icons.png") no-repeat; 
    background-size: cover;
    height:100vh;
}
.viewrecipes{
    background: url("images/restaurant_icons.png") no-repeat; 
    background-size: cover;
    height:100vh;
}

.mb-0 .btn {
    font-size: 20px;
}

li:disabled {
    cursor: not-allowed !important;
}
.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    padding-left: 50px;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .color{
      background-color: #26A69A;
      font-family: 'Tillana', cursive;
      
  }
  .color:hover{
      background-color: rgb(226, 236, 227);
  }
  .recipe{
      background-color:  #26A69A;
      font-family: 'Tillana', cursive;

  }
  .recipe:hover{
      background-color: rgb(226, 236, 227);
  }
.word-font{
    font-family: 'Tillana', cursive;
}
#about{
    background: url("images/restaurant_icons.png");
    height: 100vh;
}
.recipeimg{
    background: url("images/image1.jpg");
    height:130px;
}

.btn .btn-link:hover{
    text-decoration: none !important;
}

.navbar-custom .navbar-nav .nav-link.active{
    color: 'red';
}
#navbar .navbar-text{
    color: 'white';
    /* background-color: 'red' !important;
    border-bottom: 1px solid 'white' !important; */
  
  }
  ul>li:hover, .nav-link:hover{
      background-color: 'white'!important;

  }

