@import url('https://fonts.googleapis.com/css?family=Karma');
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Karma', serif;
  font-size: 15px;
  height: 100%;
}

.navbar-nav .nav-link:hover{
  background-color:white;
  color: #009688!important;
 
}
.navbar-nav .nav-item .active{
  border-bottom: 3px solid violet; 
  height: 100%;

}
.icon{
  background-color:"#26A69A"!important;

}